{% extends 'base.html' %}

{% block title %}Courses{% endblock title %}

{% include 'navbar.html' %}

{% block body %}
<div class="row">
	<a href="">
		<div class="card-panel small animated jackInTheBox">
			<div class="row valign-wrapper">
				<div class="col s2">
					<i class="material-icons deep-purple-text lighten-2">school</i>
				</div>
				<div class="col s10">
					<h6 class="deep-purple-text">Entrepreneurship Hatchery</h6>
				</div>	
			</div>
		</div>
	</a>
</div>
{% endblock body %}
