<div class="fixed-action-btn">
  <a class="btn-floating btn-large deep-purple">
    <i class="large material-icons">add</i>
  </a>
  <ul>
  	<!-- Project -->
    <li><a href="{{ url_for('projects.project_create') }}" class="btn-floating red"><i class="material-icons">work</i></a></li>
    <!-- Notes -->
    <li><a href="" class="btn-floating green"><i class="material-icons">edit</i></a></li>
    <!-- Courses -->
    <li><a class="btn-floating blue"><i class="material-icons">school</i></a></li>
  </ul>
</div>
      
