{% extends 'base.html' %}

{% block title %}Dashboard{% endblock title %}

{% include 'navbar.html' %}

{% block quotes %}
{% endblock quotes %}

{% block body %}
<!-- Greeter -->
<!-- Quote section -->
<blockquote class="animated fadeInLeft">
	<h6 class="deep-purple-text">Today's Quote</h6>
	Step by step and the thing is done.
</blockquote>

<!-- Projects overview -->
<div class="row">
	<div class="col s12">
		<div class="card-panel small z-depth-1 animated jackIntheBox">
			<div class="row valign-wrapper">
				<div class="col s2">
					<img src="https://linkconnects.com/uploads/d3ab3e7df0d626f98bb84c9a97982d4d.jpg" alt="" class="circle responsive-img">
				</div>
				<div class="col s10">
					<h6 class="grey-text">{{ date }}</h6>
					<small>Hi John, seems you have no tasks planned for today</small>
				</div>
			</div>
		</div>
	</div>	
	
	<div class="col s12">
		<a href="">
			<div class="card-panel small z-depth-1 animated jackInTheBox">
				<div class="row valign-wrapper">
					<div class="col s2">
						<i class="material-icons deep-purple-text">work</i>
					</div>
					<div class="col s10">
						<h6 class="deep-purple-text">Self Management App</h6>	
						<span class="grey-text">Entrepreneurship Hatchery</span>
						<br>
						<small class="grey-text">Due on 20 Jan 2020</small>
						<div class="progress">
							<div class="determinate" style="width: 90%"></div>
						</div>
					</div>		
				</div>
			</div>
		</a>
	</div>

	<div class="col s12">
		<a href="">
			<div class="card-panel small z-depth-1 animated jackInTheBox">
				<div class="row valign-wrapper">
					<div class="col s2">
						<div class="material-icons deep-purple-text lighten-2">work</div>
					</div>
					<div class="col s10">
						<h6 class="deep-purple-text">Computer For Change</h6>
						<span class="grey-text">CB - Kewarganegaraan</span>
						<br>
						<small class="grey-text">Due on 19 Jan 2020</small>

						<div class="progress">
							<div class="determinate" style="width: 95%"></div>
						</div>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
{% endblock body %}

{% include 'floating_button.html' %}
