{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block body %}
<div class="row">
	<div class="col s10 offset-s1">
		<div class="card">
			<div class="card-image center-align">
				<i class="material-icons large">face</i>
			</div>
			<div class="card-content center-align">
				<span class="card-title">Login</span>
				<!-- form -->
				<form action="" method="post">
					{{ form.csrf_token }}
					<div class="input-field">
						{{ form.email(class="validate") }}
						{{ form.email.label() }}
					</div>
					<div class="input-field">
						{{ form.password(class="validate") }}
						{{ form.password.label() }}
					</div>
					<div class="input-field">
						<!--{{ form.login(class="btn deep-purple lighten-2") }}-->
						<a href="{{ url_for('projects.home') }}" class="btn deep-purple">Login</a>
					</div>
				</form>
			</div>
			<div class="card-action center-align">
				No account yet? Register <a href="" class="deep-purple-text lighten-2">here</a>
			</div>
		</div>
	</div>
</div>
{% endblock body %}
