{% extends 'base.html' %}

{% include 'navbar.html' %}

{% block body %}
<div class="row">
	<div class="card-panel small z-depth-1 animated jackInTheBox">
		<div class="center-align">
			<h6 class="deep-purple-text">Milestone for Self Management App</h6>
			<form action="" method="post">
				<div class="input-field">
					{{ form.name(class="validate") }}
					{{ form.name.label() }}
				</div>
				<div class="input-field">

				</div>
				<div class="input-field">
					<a href="{{ url_for('projects.project_detail') }}" class="btn deep-purple">Add</a>
				</div>
			</form>
		</div>
	</div>
</div>


<!-- Floating button redirecting to homepage -->
<div class="fixed-action-btn">
	<a href="{{ url_for('projects.home') }}" class="btn-floating btn-large deep-purple">
		<i class="material-icons">home</i>
	</a>
</div>
{% endblock body %}
