<div class="navbar-fixed">
<nav>
	<div class="nav-wrapper deep-purple lighten-2">

	</div>
</nav>
</div>

<ul id="slide-out" class="sidenav">
	<li>
		<div class="user-view">
			<div class="background">
				<img src="" alt="" srcset="">
			</div>
		</div>
	</li>	
	<li><a href="{{ url_for('preferences.preferences') }}">
			<i class="material-icons">build</i>
			Settings
	</a></li>
	<li><a href="{{ url_for('universities.course_list') }}">
			<i class="material-icons">school</i>
			Courses>
	</a></li>
</ul>
