<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper deep-purple lighten-2">
			<ul class="right">
				<li>
					<a href="">
						<i class="material-icons">face</i>
					</a>
				</li>
				<li>
					<a href="">
						<i class="material-icons">chat</i>
					</a>
				</li>
				<li>
					<a href="">
						<i class="material-icons">today</i>
					</a>
				</li>
				<li>
					<a href="">
						<i class="material-icons">notifications</i>
					</a>
				</li>
				<li>
					<a href="">
						<i class="material-icons">more_vert</i>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
