<div class="navbar-fixed deep-purple lighten-2">
	<nav class="cointainer deep-purple lighten-2">
		<div class="nav-wrapper deep-purple lighten-2 container">
			<a href="{{ url_for('projects.home') }}" class="brand-logo left">ManageMe</a>
			<ul class="right">
				<li><a href="{{ url_for('preferences.user_preferences') }}"><i class="tiny material-icons">build</i></a></li>
				<li><a href="{{ url_for('universities.course_list') }}"><i class="material-icons">school</i></a></li>
			</ul>
		</div>
	</nav>
</div>

<!-- -->
<ul class="sidenav" id="side">
	<li><a href="{{ url_for('preferences.user_preferences') }}"><i class="material-icons">build</i></a></li>
</ul>

