{% extends 'base.html' %}

{% block title %}Preferences{% endblock title %}

{% include 'navbar.html' %}

{% block body %}
<!-- Preferences -->
<div class="row">
	<div class="col s12">
		
		<div class="card-panel animated jackInTheBox">
			<div class="row valign-wrapper">
				<div class="col s2">
					<img class="circle responsive-img" src="https://linkconnects.com/uploads/d3ab3e7df0d626f98bb84c9a97982d4d.jpg" alt="profile-pic" srcset="">
				</div>
				<div class="col s10">
					<h5 class="deep-purple-text">John Doe</h5>
					<small class="grey-text">Bina Nusantara University</small>
				</div>
			</div>
			<div class="row valign-wrapper">
				<div class="col s2">
					<i class="tiny material-icons deep-purple-text">email</i>
				</div>
				<div class="col s10">
					<small class="grey-text">john.doe@binus.ac.id</small>
				</div>
			</div>
		</div>
		
		<div class="card-panel animated jackInTheBox">
			<div class="row valign-wrapper">	
				<div class="col s12">
					<table class="">
						<thead>
							<tr>
								<th class="deep-purple-text">Preferences</th>	
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Motivational quotes</td>
								<td>
									<div class="switch">
										<label for="">
											on
											<input type="checkbox" name="" id="">
											<span class="lever"></span>
											off
										</label>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Floating action button -->
<div class="fixed-action-btn">
	<a href="{{ url_for('projects.home') }}" class="btn-floating btn-large deep-purple">
		<i class="material-icons">home</i>
	</a>
</div>
{% endblock body %}
