{% extends 'base.html' %}

{% block title %}Preferences{% endblock title %}

{% include 'navbar.html' %}

{% block body %}
<!-- Preferences -->
<div class="row">
	<div class="col s12">
		
		<div class="card-panel animated jackInTheBox">
			<div class="row valign-wrapper">
				<div class="col s2">
					<img class="circle responsive-img" src="https://via.placeholder.com/150" alt="profile-pic" srcset="">
				</div>
				<div class="col s10">
					<h6 class="deep-purple-text">Profile</h6>
				</div>
			</div>
		</div>
		
		<div class="card-panel animated jackInTheBox">
			<div class="row valign-wrapper">
				<div class="col s2">
					<i class="material-icons tiny deep-purple-text">build</i>
				</div>
				<div class="col s10">
					<h6 class="deep-purple-text">Preferences</h6>
					<div class="row valign-wrapper">
						<div class="col s8">
							Motivational Quotes
						</div>
						<div class="col s4">
  							<div class="switch">
    							<label>
      								<input type="checkbox">
      								<span class="lever"></span>
    							</label>
  							</div>
						</div>
					</div>
					<div class="row valign-wrapper">
						<div class="col s8">
							Block Apps
						</div>
						<div class="col s4">
  							<div class="switch">
    							<label>

      								<input type="checkbox">
      								<span class="lever"></span>

    							</label>
  							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Block app -->
			<!-- Motivational Quotes -->
		</div>
	</div>
</div>

<!-- Floating action button -->
<div class="fixed-action-btn">
	<a href="{{ url_for('projects.home') }}" class="btn-floating btn-large deep-purple">
		<i class="material-icons">home</i>
	</a>
</div>
{% endblock body %}
