{% extends 'base.html' %}

{% block title %}New Project{% endblock title %}

{% include 'navbar.html' %}

{% block body %}
<!-- Info -->
<ul class="collapsible">
	<li>
		<div class="collapsible-header"><i class="material-icons deep-purple-text">info</i></div>
		<div class="collapsible-body">
			Creating projects allows you to manage and organize your projects. You create one by filling in the form below
		</div>
	</li>
</ul>

<!-- Project form -->
<div class="row">
	<div class="card-panel small z-depth-1 animated jackInTheBox">
		<div class="center-align">
			<h6 class="deep-purple-text">Add new project</h6>

			<form action="" method="post">
				<div class="input-field">
					<select>
						<option value="" disabled selected>Choose Course</option>
						<option value="1">Entrepreneurship Hatchery</option>
						<option value="2">Database Systems</option>
						<option value="3">Kewarganegaraan</option>
					</select>
				</div>
				<div class="input-field">
					{{ form.name(class="validate") }}
					{{ form.name.label() }}
				</div>
				<div class="input-field">
					<input type="text" name="date" class="datepicker">
					<label for="date">Due date</label>
				</div>
				<div class="input-field">
					<a href="{{ url_for('projects.project_detail') }}" class="btn deep-purple lighten-2">Add project</a>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Floating button redirecting to homepage -->
<div class="fixed-action-btn">
	<a href="{{ url_for('projects.home') }}" class="btn-floating btn-large deep-purple">
		<i class="material-icons">home</i>
	</a>
</div>
{% endblock body %}

